<% unless request.xhr? %>
  <%= render partial: 'shared/welcome_message', locals: { message: @property.title } %>
  <%= render 'shared/slider' %>
<% end %>
<!-- Start services -->
<section class="services" id='content'>
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="well well-small">
          <span class="service-icon"><i class="icon-resize-full"></i></span>
          <h5>Description</h5>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam vehicula ut id elit.</p>
          <%= link_to "Read More", descriptions_index_path, data: { remote: true, update: 'content'}, class: 'btn btn-mini' %>
        </div>
      </div>
      <div class="span3">
        <div class="well well-small">
          <span class="service-icon"><i class="icon-list"></i></span>
          <h5>Directions</h5>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam vehicula ut id elit.</p>
          <%= link_to "Read More", directions_index_path, data: { remote: true, update: 'content'}, class: 'btn btn-mini' %>
        </div>
      </div>
      <div class="span3">
        <div class="well well-small">
          <span class="service-icon"><i class="icon-th"></i></span>
          <h5>Availability</h5>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam vehicula ut id elit.</p>
          <%= link_to "Read More", availabilities_index_path, data: { remote: true, update: 'content'}, class: 'btn btn-mini' %>
        </div>
      </div>
      <div class="span3">
        <div class="well well-small">
          <span class="service-icon"><i class="icon-ok"></i></span>
          <h5>Contact Us</h5>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam vehicula ut id elit.</p>
          <%= link_to "Read More", new_contact_path, class: 'btn btn-mini' %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End services -->
